<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Звонатор - загрузка треков</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
</head>
<body>
<div class="container" style="text-align: center;">
    <h1>12345</h1>
    <form action="/upload" class="dropzone" id="dropzone" enctype=multipart/form-data style="border: none;">
        <input type="text">
        <div id="dropzone_preview"></div>
    </form>
    <button type="submit" id="button" style="margin-top: 1vw" class="btn btn-outline-primary" onclick="sendFiles()">Отправить</button>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript">
    const SUPPORTED_FORMATS = "{{ SUPPORTED_FORMATS }}".split(" ");
    const PUNCTUATION = ['/', '[', '.', ',', '\\', '/', '#', '!', '$',
        '%', '\\', '^', '&', '\\', '*', ';', ':', '{', '}', '=', '\\', '-',
        '_', '`', '~', '(', ')', ']', '/', 'g'];

    function check_for_valid(filename) {
        var format = filename.split(".").pop();
        if (filename.length == 0) {
            return "Пустое имя файла!";
        }
        if (PUNCTUATION.indexOf(filename[0]) != -1) {
            return "Имя файла не должно начинаться со знаков препинания!";
        }
        if (SUPPORTED_FORMATS.indexOf(format) == -1) {  // if format is not in SUPPORTED_FORMATS
            return "Формат файла не поддерживается.";
        }
        return 'OK';  // OK is written using LATIN letters
    }

    var dropzone = document.getElementById('dropzone');

    // configure dropzone
    Dropzone.options.dropzone = {
    addRemoveLinks: true,
    accept: function(file, done) {
        var name = file.name;
        var res = check_for_valid(name);
        if (res == "OK") {
            done();
        }
        else {
            done(res);
        }
    },
    removedfile: function(file) {
      var name = file.name;

      $.ajax({
        type: 'DELETE',
        url: '/upload',
        data: JSON.stringify({name: name}),
        contentType: 'application/json;charset=UTF-8',
        success: function(result){
            console.log(result);
         }
      });

      var _ref;
      return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
    },
    previewsContainer: '#dropzone_preview',
    maxFilesize: null
    };

    function sendFiles() {
        var dropzone = Dropzone.forElement("#dropzone");
        dropzone.processQueue();
        $('#hours').val('123');
        alert(document.getElementById('hours').value);
        document.forms["form_data"].submit()
        window.location.replace("/index");
    }
</script>
</body>
</html>
